.ui.borderless.topmenu.container.menu {
  background-color: #ffffff;
  box-shadow: none;
  border: none;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: ivory;
}

.footer-background {
  background-color: #004030;
  color: white;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}